body {
	width:920px;
	margin:auto;
	font-family:'Cairo',sans-serif;
	}
#principal {
	min-height:400px
	}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color:black;
    text-align:center;
    vertical-align:middle;
    line-height:300px;
    font-size:40pt;
    font-weight:700;
}
.tuile {
	display:inline-block;
	width:300px;
	height:300px;
	margin:20px
	}
.connexion-prof{
	background-color:red
	}

.connexion-eleve{
	background-color:green
	}

.tuile-classes {
	background-color:white;
	border:solid 10pt #ffe0b3;
	}
.tuile-classes:hover{
	background-color:#ffe0b3;
	border:solid 10pt white;
	}
.tuile-questions:hover{
	background-color:#ffe0b3;
	border:solid 10pt white;
	}

.tuile-questions {
	background-color:white;
	border:solid 10pt #ffe0b3;
	}


.pied-de-page { display:block;
		width:100%;
		background-color: #ffe0b3;
		text-align:center}
.entete { display:block;
		width:100%;
		background-color: #ffe0b3;
		text-align:right}
.entete a{ 
	text-decoration:none;
	color:black;
	margin-left:10px;
	margin-right:10px
	}

.formulaireconnexion {
	border:solid;
	width:50%;
	margin:10px}

.erreur{
	color:red;
	}

.material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

.ajouter {
	display:block;
	width:100%;
	text-align:right;
	}
.ajouter a {
	color:black
	}


.tableau {
	margin-top:10px;
	padding:0pt;
	border-spacing:0pt
	}
.tableau tr:hover{
	background-color :#ffe0b3
	}

.tableau td{
	}


.tableauFR {
	margin-top:10px;
	padding:2pt;
	border-spacing:0pt;
	text-align:center
	}

.tableauFR th, .tableauFR td {
	border:1pt solid #ffe0b3;
	padding-left:10pt;
	padding-right:10pt;
	}

.tableauFR th {
	background-color:#ffe0b3
	}

.tableauFR tr:hover{
	background-color :#ffe0b3
	}


.bouton {
	border:0pt;
	background-color:transparent;
	cursor:pointer
	}

.bouton:disabled {
	cursor:not-allowed
	}

div[id^="preview"]{
	width:100%;
	border:solid #eee 1pt;
	min-height:100px;
	line-height:1.1;
	font-family:Courier New;
	font-size:10pt;
	}
div[id^="preview"] p {
	margin:0pt;
	}

.stdout {
	width:477px;
	display:inline-block
	}

.messageErreur {
	color:red;
	font-size:6pt
	}

.castest:hover{
	background-color:#ffe0b3
	}


.termPython {
	background-color:black;
	color:white;
	font-family:Courier New;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}

.lien {
	text-decoration:none;
	color:black
	}
